.columns-container {
  padding: 0;

  .columns-wrapper {
    max-width: 100%;
    padding: 0;

    p,
    h2 {
      padding: 0 128px;
    }
  }
}

.columns {
  div {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

    div {
      order: 1;
    }

    .button-container {
      width: 118px;
      margin-left: 128px;
      padding: 10px 20px;
      border: 1px solid var(--primary);
    }

    .first__button {
      color: var(--primary);

      &:hover {
        color: white;
        background-color: var(--primary);
      }
    }

    .second__button {
      color: white;
      background-color: var(--primary);

      &:hover {
        background-color: var(--primary-hover);
        border-color: var(--primary-hover);
      }
    }
  }

  .columns-img-col {
    order: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media (width <= 600px) {
  .columns-wrapper {
    h2:first-of-type {
      padding: 0 14px;
      margin: 50px 50px 0;
      margin-top: 50px;
      margin-left: 50px;
      margin-right: 50px;
      padding: 14px;
      font-size: 20px;
    }

    p:first-of-type {
      font-size: 14px;
      margin: 0 50px;
      padding: 14px;
    }
  }

  .columns {
    div {
      .button-container {
        width: 274px;
        margin: 14px 64px;
        padding: 10px 20px;
      }

      .second__button {
        margin-bottom: 50px;
      }
    }
  }
}
