.columns > div {
  display: flex;
  flex-direction: column;
}

.columns-container > div {
  margin: 0%;
}

.columns img {
  width: 100%;
}

body > main > div.section.highlight.columns-container {
  padding: 0;
}

body > main > div.section.highlight.columns-container > div {
  max-width: 100%;
  padding: 0;
}


.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
