.to-do-container {
  margin: 20px 100px;

  .to-do {
    display: flex;
    flex-direction: column;

    > *:not(ol) {
      display: flex;
    }

    .to-do__title {
      order: 1;
    }

    .to-do__label {
      order: 2;
    }

    .to-do__input-and-btn {
      order: 3;

      .button-container {
        order: 1;
        color: white;
        background-color: var(--primary);
        margin: 0 10px;

        &:hover {
          background-color: var(--primary-hover);
        }
      }

      #to-do__input {
        order: 0;
        padding: 5px 10px;
      }
    }

    .to-do__ordered-list {
      order: 4;

      .to-do__list-item {
        margin: 5px 0;

        button {
          margin-left: 10px;
        }
      }
    }
  }
}
