footer {
  padding: 43px 223px;
  background-color: #56595c;
  font-size: var(--body-font-size-s);
  color: white;
  text-align: center;
  .default-content-wrapper {
    p:first-child {
      font-size: 24px;
    }
    p.button-container > a {
      font-size: 16px;
      text-decoration: underline;
    }
    p.button-container:hover {
      cursor: default;
    }
  }
}

.footer {
  max-width: 1200px;
  margin: auto;
  p {
    margin: 0;
  }
}

@media (width <= 600px) {
  footer {
    padding: 50px;
  }

  .default-content-wrapper {
    p:first-child {
      font-size: 12px;
    }
    p.button-container > a {
      display: none;
    }
  }
}
